@keyframes onHover {
    33%{
        background-color: green;
    }
    66%{
        background-color: red;
    }
    99%{
        background-color: darkblue;
    }
}

.animated_project:hover{
    animation-name: onHover;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
}

@media (max-width:850px){
    .animated_project{
        width: 80% !important;
    }
}
@media (max-width:500px){
    .animated_project{
        width: 70% !important;
    }
}