.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 96%;
    height: 45px;
   
    margin-top: 0;
}
.directions-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 7%;
}

.routers{
    background-color: transparent;
    border: none;
    width: 22px;
    font-size: 22px;
}

.nav_ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.li_item{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-transform: uppercase;
}
.next_Link{
    text-decoration: none;
    color: white;
    text-decoration: none;
}
.next_Link:hover{
    background-color: #07637a;
    color: white;
}
.next_button{
    color: white;
    background-color: transparent;
}

.toggler_header{
    display: none;
}
/* responsive */
@media (max-width:1200px){
   
    .header{
        background-color: grey;
    }
    .nav_ul{
        width: 65%;
    }
}

@media (max-width:800px){
   
   
    .nav_ul{
        width: 100%;
        display: none;
        flex-direction: column;
        background-color: grey;
    }
    .logout{
        display: none;
    }
    .switcher{
       position: absolute;
       right: 150px;
    }
    .toggler_header{
        display: block;
    }
    
}