.languages_container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    /* box-shadow: 17px 15px 11px 5px grey; */
    /* border: 5px solid lightblue; */
}
/*  */
