.nav_ul {
    display: flex;
    align-items: center;
    gap: 20px;
  }
  
  .contact-me {
    background: linear-gradient(45deg, #ff416c, #ff4b2b);
    padding: 10px 15px;
    border-radius: 6px;
    transition: 0.3s ease-in-out;
  }
  
  .contact-me:hover {
    box-shadow: 0px 4px 10px rgba(255, 75, 43, 0.4);
    transform: scale(1.05);
  }
  
  .routers {
    font-size: 24px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
  }
  
  .routers:hover {
    transform: scale(1.2);
    color: #34d1bf;
  }
  