/* ====== General Styling ====== */
.home {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 20px;
  color:white !important;
}

/* ====== Hero Section ====== */
.hero_section {
  text-align: center;
  padding: 60px 0;
  color:white !important;

}

.hero_heading {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
  color:white !important;

}

.name {
  font-weight: bold;
  border-bottom: 2px solid black;
  color:white !important;

}

.role {
  font-weight: bold;
  text-decoration: underline;
  color:white !important;

}

.hero_subtext {
  font-size: 1.2rem;
  margin-top: 10px;
  color: #444;
  color:white !important;

}

/* ====== About Me Section ====== */
.about_section {
  margin-top: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: left;
  color:white !important;

}

.about_heading {
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color:white !important;

}

.about_content p {
  font-size: 1rem;
  line-height: 1.5;
  margin-bottom: 10px;
  color: #333;
  color:white !important;

}

.project_link {
  font-weight: bold;
  text-decoration: none;
  color: black;
  display: inline-block;
  margin-top: 10px;
  border-bottom: 2px solid black;
  transition: 0.3s ease;
  color:white !important;

}

.project_link:hover {
  border-bottom: 2px solid transparent;
  transform: translateY(-2px);
  color:white !important;

}

/* ====== Contact Section ====== */
.contact_section {
  text-align: center;
  margin-top: 50px;
  color:white !important;

}

.contact_heading {
  font-size: 2rem;
  font-weight: 600;
}

.contact_text {
  font-size: 1.1rem;
  color: #444;
  margin-top: 10px;
}
